@media screen and (max-width: 769px){

	:target {
		scroll-margin-top: 130px;
	}
	
	body .cabecalho{
		height: 100px;
		padding: 0 0;
	}

	.cabecalho .titulo-principal {
		top: 10px;
		left: 0;
		color: var(--enfase);
		display: block;
		text-align: center;
	}

	.cabecalho .menu {
		display: block;
		width: auto;
		float: none;
		text-align: center;
		margin: 25px 0 0 0;
	}

	.menu li {
		margin-bottom: 15px;		
	}

	main {
		width: 70%;
		margin: 130px auto 0 auto;
	}

	main .foto {
		padding-left: 15px;
	}

	#projetos .esq, #projetos .dir {
		width: auto;
	}

	.img-projetos {
		display: block;
		margin: 0 auto;
	}
}

@media screen and (max-width: 526px){

	:target {
		scroll-margin-top: 160px;
	}
	
	body .cabecalho {
		height: 140px;
		padding: 0 0;
	}

	.cabecalho .titulo-principal {
		color: var(--enfase);
		display: block;
		text-align: center;
	}

	.cabecalho .menu {
		display: block;
		width: auto;
		float: none;
		text-align: center;
	}

	body main {
		width: 80%;
		margin: 160px auto 0 auto;
	}

	main .foto {
		float: initial;
		display: block;
		margin: 0 auto;
		padding-left: 0px;
	}
	
	main .apresentacao {
		padding-top: 30px 
	}

	.apresentacao .links li {
		margin-bottom: 15px;
	}

	#projetos .esq, #projetos .dir {
		width: auto;
	}

	.img-projetos {
		display: block;
		margin: 0 auto;
	}

	.links li {
		margin-bottom: 15px;
	}
}
