.apresentacao {
	align-items: center;
	align-content: space-around;
	display: flex;
	justify-content: space-between;
	line-height: 1.25em;
	width: 100%;
}

@media screen and (max-width: 608px) {
	.apresentacao {
		display: flex;
		flex-direction: column-reverse;
	}
}

