.topicos__imagem {
    border: 3px solid #ff5f00;
    border-radius: 25px;
    margin-top: 20px;
    max-width: 440px;
}

@media screen and (max-width: 608px) {
    .topicos__imagem {
        width: 250px;
    }
}