.topicos__imagens {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
}

@media screen and (max-width: 608px) {
    .topicos__imagens {
        flex-direction: column;
    }
}