.conteudo__boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media screen and (max-width: 608px) {
    .conteudo__boxes {
        justify-content: center;
    }
}