.botoes {
    border-bottom: 3px solid #ff5f00;
    color: #ffffff;
    font-size: 1.2em;
    margin-right: 10px;
    text-decoration: none;
    transition: 1s all;
}

.botoes:hover {
    border-bottom: 15px solid #ffee00;
    color: #ff5f00;
}