.botoes {
    border-bottom: 3px solid #ff5f00;
    color: #ffffff;
    font-size: 1.2em;
    margin-right: 10px;
    text-decoration: none;
    transition: 1s;
}

.botoes--cabecalho {
    margin: 0 0 0 10px;
}

.botoes:hover {
    border-bottom: 3px solid #ffee00;
    color: #ff5f00;
}

@media screen and (max-width: 608px) {
    .botoes {
        margin: 0 5px;
    }
}