.links {
	align-content: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	line-height: 2em;
}

.links--cabecalho {
	justify-content: flex-end;
}

@media screen and (max-width: 608px) {
	.links {
		justify-content: center
	}
}