body {
	background: #0f0f0f;
	color: #ffffff;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 700;
	padding-left: 30px;
}

h2 {
	font-size: 2em;
}

h2::first-letter {
	color: #ff5f00
}

h3 {
	font-size: 1.5em;
	/* padding: 25px 0 0 0; */
}
